trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'
  displayName: 'Use Python 3.11'

- script: |
    python -m pip install --upgrade pip
    python -m pip install -r requirements.txt
    python -m pip install pytest pytest-cov
  displayName: 'Install dependencies'

- script: |
    python -m pytest \
      --junitxml=test-results.xml \
      --cov=. \
      --cov-report=xml
  displayName: 'Run tests with coverage'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: 'test-results.xml'
    testResultsFormat: 'JUnit'
    failTaskOnFailedTests: true
  displayName: 'Publish test results'

- task: PublishCodeCoverageResults@2
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: 'coverage.xml'
  displayName: 'Publish coverage'